@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}



@media screen and (max-width: 767.9px) {
  .home-container {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 50%;
    // border: 2px solid red;
    align-items: center;
    justify-content: center;

    .section1 {
      width: 100%;
      // border: 2px solid red;
      animation: 1s ease-out 0s 1 slideInFromLeft;
      display: flex;
      align-content: flex-end;
      justify-content: flex-end;
      .sub-sec1 {
        text-align: left;
        width: 100%;
        // border: 2px solid rgb(71, 48, 48);
        padding: 5%;
        h1 {
          font-size: 20px;
          font-family: "Noto Serif SC", serif;
          text-align: center;
          // padding-left: 30%;
        }
        p {
          font-family: "Grenze Gotisch", cursive;
          font-size: 20px;
          text-align: center;
        }
      }
    }
    .section2 {
      margin-top: 5%;
      width: 100%;
      padding: 5%;
      .sub-sec2 {
        // border: 2px solid rgb(83, 83, 33);
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          height: 200px;
          animation: 1s ease-out 0s 1 slideInFromRight;
        }
      }
    }
  }
}


@media screen and (min-width: 768px) {
  .home-container {
    display: flex;
    width: 100%;
    height: 700px;
    // border: 2px solid red;
    align-items: center;
    justify-content: center;
    .section1 {
      width: 50%;
      // border: 2px solid red;
      // text-align: left;
      animation: 1s ease-out 0s 1 slideInFromLeft;
      display: flex;
      align-content: flex-end;
      justify-content: flex-end;
      .sub-sec1 {
        text-align: left;
        width: 80%;
        // border: 2px solid rgb(71, 48, 48);

        h1 {
          width: 90%;
          font-family: "Noto Serif SC", serif;
          // text-align: center;
          // padding-left: 30%;
        }
        p {
          width: 80%;
          font-family: "Grenze Gotisch", cursive;
          font-size: 20px;
        }
      }
    }
    .section2 {
      width: 50%;
      .sub-sec2 {
        // border: 2px solid rgb(83, 83, 33);
        height: auto;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          height: 400px;
          animation: 1s ease-out 0s 1 slideInFromRight;
        }
      }
    }
  }
}