

$navbar-height-bg: 60%;

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (min-width: 769px) {
  .navbar-container {
    width: 100%;
    display: flex;
    height: 150px !important;
    align-items: center;
    // border: 4px solid pink;
    background: #1a1717;
    animation: 1s ease-out 0s 1 slideInDown;

    .navBtn {
      width: 10%;
      height: $navbar-height-bg;
      display: none;
      align-items: center;
      justify-content: center;
      // display: flex;
      // background: black;
      .res-btn {
        margin-top: 5%;
        border-radius: 5%;
        background-color: 	#d6b600;
      }
    }

    .navBtn-cancel {
      display: none;
    }
    .navLogo {
      width: 10%;
      // border: 2px solid wheat;
      height: $navbar-height-bg;
      display: flex;
      align-items: center;
      justify-content: center;

      .logo {
        color: white;
        text-decoration: none;
        font-size: 36px;
        font-family: "Grenze Gotisch", cursive;
      }
    }
    .navLogo:hover {
      border-bottom: 2px solid #fcfcfc;
    }
    .navbarUl {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 85%;
      // border: 2px solid blue;
      height: $navbar-height-bg;
      li {
        list-style-type: none;
        display: inline;
        margin-right: 7%;
        // border: 2px solid red;
        padding: 0% 2%;

        a {
          font-size: 28px;
          font-family: "Grenze Gotisch", cursive;
          color: #fcfcfc;
          text-decoration: none;
          padding: 0% 2%;
        }
      }
      li:hover {
        border-bottom: 2px solid #fcfcfc;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
    // border: 4px solid pink;
    background: #161414;

    .navBtn {
      width: 80%;

      height: $navbar-height-bg;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      // margin-top: 5%;
      .res-btn {
        margin-top: 5%;
        border-radius: 10%;
        background-color: 	#051d4b91;
      }
    }

    .navBtn-cancel {
      width: 80%;
      height: $navbar-height-bg;
      display: none;
      align-items: center;
      justify-content: flex-end;
      button {
        background-color: 	#051d4b91;

      }
    }

    .navLogo {
      width: 50%;
      height: $navbar-height-bg;
      display: none;
      align-items: center;
      justify-content: center;
      animation: 1s ease-out 0s 1 slideInDown;
      .logo {
        color: white;
        text-decoration: none;
        font-size: 36px;
        font-family: "Grenze Gotisch", cursive;
      }
      a:hover {
        border-bottom: 2px solid #fcfcfc;
      }
    }

    .navbarUl {
      display: none;
      align-items: center;
      flex-direction: column;
      justify-content: flex-end;
      width: 85%;
      // border: 2px solid blue;
      height: $navbar-height-bg;
      animation: 1s ease-out 0s 1 slideUp;

      li {
        list-style-type: none;
        margin-right: 7%;
        padding: 0% 2%;

        a {
          font-size: 28px;
          font-family: "Grenze Gotisch", cursive;
          color: #fcfcfc;
          text-decoration: none;
        }
      }
      li:hover {
        border-bottom: 2px solid #fcfcfc;
      }
    }
  }
}
